<div class="container mt-5" style="max-width:400px;">

  <h2 class="mb-4">Register</h2>

  <form [formGroup]="registerForm"
        (ngSubmit)="submit()">

    <!-- NAME -->
    <div class="mb-3">

      <input
        type="text"
        class="form-control"
        placeholder="Name"
        formControlName="name">

      <small class="text-danger"
             *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">

        Name must be minimum 3 characters

      </small>

    </div>

    <!-- EMAIL -->
    <div class="mb-3">

      <input
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email">

      <small class="text-danger"
             *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">

        Enter valid email

      </small>

    </div>

    <!-- PASSWORD -->
    <div class="mb-3">

      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="password">

      <small class="text-danger"
             *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">

        Password minimum 4 characters

      </small>

    </div>

    <button class="btn btn-primary w-100">
      Register
    </button>

  </form>

</div>