<div class="container p-4">

    <input class="form-control mb-3" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearchChange()">

    <button class="btn btn-primary mb-3" (click)="openModal()">
        Add User
    </button>

    <!-- FORM -->

    <div class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">

                <!-- HEADER -->
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ editMode ? 'Edit User' : 'Add User' }}
                    </h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <form [formGroup]="userForm">

                        <input class="form-control mb-2" formControlName="name" placeholder="Name">

                        <small class="text-danger"
                            *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
                            Name must be at least 3 characters
                        </small>

                        <input class="form-control mb-2" formControlName="email" placeholder="Email">

                        <small class="text-danger"
                            *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
                            Enter valid email
                        </small>

                        <input class="form-control mb-2" formControlName="password" placeholder="Password">

                        <small class="text-danger"
                            *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
                            Password must be minimum 4 characters
                        </small>

                    </form>

                </div>

                <!-- FOOTER -->
                <div class="modal-footer">

                    <button class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>

                    <button class="btn btn-success" (click)="saveUser()">
                        {{ editMode ? 'Update' : 'Save' }}

                    </button>

                </div>

            </div>

        </div>
    </div>
</div>

<!-- LOADING -->
<div *ngIf="isLoading" class="text-center">
    Loading...
</div>

<!-- TABLE -->
<div *ngIf="!isLoading">

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngIf="users.length === 0">
                <td colspan="4" class="text-center">
                    No Users Found
                </td>
            </tr>

            <tr *ngFor="let user of users">

                <td>{{ user.name }}</td>

                <td>{{ user.email }}</td>

                <td>

                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" [checked]="user.isActive"
                            (change)="toggleStatus(user)">

                        <label class="form-check-label">
                            {{ user.isActive ? 'Active' : 'Inactive' }}
                        </label>

                    </div>

                </td>

                <td>

                    <button class="btn btn-primary btn-sm me-2" (click)="editUser(user)">
                        Edit
                    </button>

                    <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">
                        Delete
                    </button>

                </td>

            </tr>

        </tbody>

    </table>
    <!-- PAGINATION UI  -->

   <div class="d-flex align-items-center justify-content-between mt-3">

    <!-- TOTAL USERS -->
    <div>

        <strong>Total Users:</strong> {{ totalUsers }}

    </div>

    <!-- PAGINATION -->
    <div class="d-flex align-items-center gap-3">

        <button
            class="btn btn-secondary"
            (click)="prevPage()"
            [disabled]="page === 1"
        >
            Prev
        </button>

        <!-- LIMIT DROPDOWN -->
        <select
            class="form-select w-auto"
            [(ngModel)]="limit"
            (change)="onLimitChange()"
        >

            <option
                *ngFor="let size of pageSizeOptions"
                [value]="size"
            >
                Show {{ size }}
            </option>

        </select>

        <!-- PAGE INFO -->
        <span class="fw-bold">

            Page {{ page }} of {{ totalPages }}

        </span>

        <button
            class="btn btn-secondary"
            (click)="nextPage()"
            [disabled]="page === totalPages"
        >
            Next
        </button>

    </div>

</div>

</div>